<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YelpCamp</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body id="landingBody">
    <nav class="navbar navbar-expand-lg navbar-dark">

        <a class="navbar-brand" href="/">
            YelpCamp
        </a>

        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav">
                <% if (!currentUser) { %>
                    <li class="nav-item">
                        <a href="/login" class="nav-link ">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/register" class="nav-link ">Register</a>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <span class="navbar-text" style="margin-right: 10px">
                                Sign In As
                                <%= currentUser.username %>
                            </span>
                        </li>
                        <li class="nav-item">
                            <a href="/logout" class="nav-link ">Logout</a>
                        </li>
                        <% } %>
            </ul>
        </div>

    </nav>
    <div class="container">
        <div class="col-md-8 mx-auto align-self-center text-center landingContainer" style="margin-top: 25%">
            <h1 class="display-3 landingDisplay">Welcome to YelpCamp</h1>
            <hr>
            <a href="/campgrounds" class="btn btn-lg btn-success">View all campgrounds</a>
        </div>
    </div>

    <% include partials/footer %>